#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*_i.c
*_p.c
*.aps
*.bak
*.[Cc]ache
*.DS_Store
*.exe
*.exp
*.ilk
*.lib
*.log
*.ncb
*.[Oo]bj
*.pch
*.pdb
*.sbr
*.sdf
*.suo
*.tlb
*.tlh
*.user
*.vspscc
*.vssscc
ipch/
[Bb]in
[Oo]bj
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad
[Tt]humbs.db 

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

# Office Temp Files
~$*